<mat-card>
  <h1 mat-dialog-title>Add Partner</h1>
  <div>
    <div mat-dialog-content>
      <div class="row">
        <mat-form-field>
          <mat-select matInput [formControl]="partner" placeholder="Partner" name="partner" class="form-control" id="partner">
            <mat-option *ngIf="!allPlayers"><em>Loading...</em></mat-option>
            <mat-option [value]="player.id" *ngFor="let player of allPlayers">{{player.firstName}} {{player.lastName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions>
      <div class="button-row">
        <button mat-raised-button color="primary" (click)="submitPartner()">Add Partner</button>
      </div>
    </div>
  </div>
</mat-card>
