.button-container {
  padding: 10px;
}

.buttons-logged-in,
.button-row {
  display: flex;
  padding-bottom: 5px;
}

img {
  padding-right: 5px;
  margin-left: -5px;
}

mat-card {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.handicap-cards,
.historical-handicaps,
.course-stats {
  padding: 8px 0px 8px 0px;
}

.footer {
  flex: 1;
}
