<div class="weekend-golfer-container">
  <button mat-raised-button color="primary" [routerLink]='["/add-partner"]'>
    <mat-icon class="icon">add</mat-icon>
    <span class='label'></span> Add Partner
  </button>
  <div style="display: block;">
    <canvas *ngIf="lineChartData" baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"></canvas>
  </div>
</div>
