<div class="weekend-golfer-container">
  <div *ngIf="isLoggedIn">
    <div class="button-container" >
      <button mat-raised-button color="primary" [routerLink]='["/add-partner"]'>
        <mat-icon class="icon">add</mat-icon>
        <span class='label'></span> Add Partner
      </button>
    </div>
    <mat-card *ngIf="lineChartData">
      <ngx-charts-line-chart [results]="lineChartData"
                             [scheme]="colorScheme"
                             [autoScale]="autoScale"
                             [gradient]="gradient"
                             [xAxis]="showXAxis"
                             [yAxis]="showYAxis"
                             [legend]="showLegend"
                             [showXAxisLabel]="showXAxisLabel"
                             [showYAxisLabel]="showYAxisLabel"
                             [xAxisLabel]="xAxisLabel"
                             [yAxisLabel]="yAxisLabel"
                             [timeline]="timeline">
      </ngx-charts-line-chart>
    </mat-card>
  </div>
  </div>
