<div class="weekend-golfer-container">
  <h1>About</h1>
  <div class="mat-elevation-z8" style="padding:20px;">

    <h2>Problem Statement</h2>
    <p>
      In order to have an official golf handicap within Australia, the golfer is required to have a $200 annual Golflink subscription. However many casual golfers would like to know
      their handicaps without having to pay this fee. Some golfers may have tried to keep track of their own handicap over time however this can sometimes be difficult as there are a
      number of variables involved in the handicap calculation.
    </p>
    <mat-divider></mat-divider>
    <h2>Solution</h2>
    <p>
      The aim of this web application is to allow casual golfers to track their own and their partners handicaps over time. This is down by providing an easy to use interface with minimal
      input required from the user as the calculations are done in the backend.
    </p>
    <h3>Method of Calculation</h3>
    <p>
      The method used to calculate handicaps is taken from <a>https://www.golf.org.au/howtocalculateahandicap</a>. It should be noted that since the daily scratch rating of a course is
      not published everyday I have taken the average scratch rating for that course as specified here <a>https://www.golf.org.au/australian-slope-ratings/state/WA</a>
    </p>

    <mat-divider></mat-divider>
    <h2>Technologies</h2>
    <h4>FrontEnd</h4>
    <ul>
      <li>Angular 6</li>
      <li>Angular Material</li>
      <li>Angular NGX-Charts</li>
    </ul>
    <h4>BackEnd</h4>
    <ul>
      <li>ASP .Net Core 2.1</li>
      <li>EF Core</li>
    </ul>
  </div>
</div>
