<mat-card>
  <h1 mat-dialog-title>Forecast</h1>
  <div mat-dialog-content>
    <div class="row">
      <mat-form-field>
        <mat-select
          matInput
          class="form-control"
          (selectionChange)="getCourseTees($event.value)"
          [formControl]="course"
          placeholder="Course"
          name="course"
          id="course"
        >
          <mat-option *ngIf="!courseNames"><em>Loading...</em></mat-option>
          <mat-option [value]="course" *ngFor="let course of courseNames">{{
            course
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select
          matInput
          (selectionChange)="getCourseHoles($event.value)"
          [formControl]="tee"
          placeholder="Tee"
          name="tee"
          class="form-control"
          id="tee"
        >
          <mat-option *ngIf="!tees"><em>Loading...</em></mat-option>
          <mat-option [value]="tee" *ngFor="let tee of tees">{{
            tee
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select
          matInput
          (selectionChange)="getForecasts($event.value)"
          [formControl]="holes"
          placeholder="Holes"
          name="holes"
          class="form-control"
          id="holes"
        >
          <mat-option *ngIf="!holesNames"><em>Loading...</em></mat-option>
          <mat-option [value]="holes.id" *ngFor="let holes of holesNames">{{
            holes.holes
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="lineChartData.length">
      <ngx-charts-line-chart
        [results]="lineChartData"
        [scheme]="colorScheme"
        [autoScale]="autoScale"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        class="ngx-charts"
      >
      </ngx-charts-line-chart>
    </div>
    <!--  -->
  </div>
</mat-card>
