<h1>Employee Data</h1>

<p>This component demonstrates fetching Employee data from the server.</p>

<button [routerLinkActive]='["link-active"]'>
  <a [routerLink]='["/add-player"]'>
    <span class='glyphicon glyphicon-add'></span> Add Player
  </a>
</button>

<p *ngIf="!players"><em>Loading...</em></p>

<table class='table' *ngIf="players">
  <thead>
    <tr>
      <th>Name</th>
      <th>Handicap</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players">
      <td>{{ player.firstName }} {{player.lastName}}</td>
      <td>{{ player.handicap }}</td>
    </tr>
  </tbody>
</table>
