<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
               class="sidenav"
               fixedInViewport="true">
    <mat-toolbar class="toolbar" color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]='["/"]' (click)='collapse()'>
        <mat-icon>home</mat-icon> Home
      </a>
      <a mat-list-item *ngIf="!isLoggedIn" [routerLinkActive]='["link-active"]' [routerLink]='["/login"]' (click)='collapse()'>
        <mat-icon svgIcon='glyphicon glyphicon-education'></mat-icon> Login
      </a>
      <a mat-list-item *ngIf="!isLoggedIn" [routerLink]='["/sign-up"]' (click)='collapse()'>
        <mat-icon svgIcon='glyphicon glyphicon-education'></mat-icon> Sign Up
      </a>
      <a mat-list-item [routerLink]='["/golf-rounds"]' (click)='collapse()'>
        <mat-icon svgIcon='glyphicon glyphicon-th-list'></mat-icon> Golf Rounds
      </a>
      <a mat-list-item [routerLink]='["/players"]' (click)='collapse()'>
        <mat-icon svgIcon='glyphicon glyphicon-th-list'></mat-icon> Players
      </a>
      <a mat-list-item [routerLink]='["/courses"]' (click)='collapse()'>
        <mat-icon svgIcon='glyphicon glyphicon-th-list'></mat-icon> Courses
      </a>
      <a mat-list-item *ngIf="isLoggedIn" [routerLink]='["/"]' (click)='logout()'>
        <mat-icon svgIcon='glyphicon glyphicon-education'></mat-icon> Logout
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>The Weekend Golfer</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>

