<div class="nav-menu-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">The Weekend Golfer</h1>
    <span style="flex: 1 1 auto;"></span>
    <div class="toolbar-icons">
      <button mat-icon-button *ngIf="!isLoggedIn" [routerLinkActive]='["link-active"]' [routerLink]='["/login"]'>
        <img src="../../assets/icons/login.png" />
        <span class="label">Login</span>
      </button>
      <button mat-icon-button *ngIf="!isLoggedIn" [routerLink]='["/sign-up"]'>
        <img src="../../assets/icons/register.png" />
        <span class="label">Sign Up</span>
      </button>
      <button mat-icon-button *ngIf="isLoggedIn" [routerLink]='["/"]' (click)='logout()'>
        <img src="../../assets/icons/logout.png" />
        <span class="label">Logout</span>
      </button>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

      <mat-nav-list class="navigation-items">
        <a mat-list-item [routerLink]='["/"]' (click)='snav.toggle()'>
              <img src="../../assets/icons/home.png" />
            <span class="label" >Home</span>
        </a>

        <a mat-list-item [routerLink]='["/golf-rounds"]' (click)='snav.toggle()'>
            <img src="../../assets/icons/rounds.png" />
          <span class="label">Golf Rounds</span>
        </a>
        <a mat-list-item *ngIf="isLoggedIn" [routerLink]='["/partners"]' (click)='snav.toggle()'>
          <img src="../../assets/icons/crowd.png" />
          <span class="label">Partners</span>
        </a>
        <a mat-list-item [routerLink]='["/players"]' (click)='snav.toggle()'>
<img src="../../assets/icons/players.png" />
          <span class="label">Players</span>
        </a>
        <a mat-list-item [routerLink]='["/courses"]' (click)='snav.toggle()'>
          <img src="../../assets/icons/courses.png" />
          <span class="label">Courses</span>
        </a>
        <div mat-list-item class="contact-me">
          <a href="https://github.com/Thashin/TheWeekendGolfer"><img class="social-media" src="../../assets/icons/github.png" /></a>
          <a href="https://www.linkedin.com/in/thashin-naidoo/"><img class="social-media" src="../../assets/icons/linkedin.png"/></a>
        </div>
      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>

