<mat-card >
  <h1 mat-dialog-title>Add Golf Round</h1>
  <form [formGroup]="data" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
      <div class="row">
        <mat-form-field>
          <input matInput class="form-control" [matDatepicker]="date" formControlName="date" placeholder="Date" name="date" id="date">
          <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
          <mat-datepicker #date></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-select matInput class="form-control" (selectionChange)="getCourseTees($event.value)" formControlName="course" placeholder="Course" name="course" id="course">
            <mat-option *ngIf="!courseNames"><em>Loading...</em></mat-option>
            <mat-option [value]="course" *ngFor="let course of courseNames">{{course}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-select matInput (selectionChange)="getCourseHoles($event.value)" formControlName="tee" placeholder="Tee" name="tee" class="form-control" id="tee">
            <mat-option *ngIf="!tees"><em>Loading...</em></mat-option>
            <mat-option [value]="tee" *ngFor="let tee of tees">{{tee}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-select matInput formControlName="holes" placeholder="Holes" name="holes" class="form-control" id="holes">
            <mat-option *ngIf="!holesNames"><em>Loading...</em></mat-option>
            <mat-option [value]="holes.id" *ngFor="let holes of holesNames">{{holes.holes}}</mat-option>
          </mat-select>
        </mat-form-field>
        </div>
        <mat-form-field>
          <div formArrayName="scores"
               *ngFor="let score of data.get('scores').controls; let i = index;">
            <div [formGroupName]="i">
              <div layout="row" layout-margin>
                  <!--<select *ngIf="i==0" (change)="addPlayer(player.id)" formControlName="player" placeholder="Player" name="player" class="form-control" id="player">
      <option *ngIf="!allPlayers"><em>Loading...</em></option>
      <option [value]="player.id">{{player.firstName}} {{player.lastName}} </option>
    </select>-->
                  <mat-form-field>
                    <mat-select matInput (change)="addPlayer($event.value)" formControlName="player" placeholder="Player {{i+1}}" name="player" class="form-control" id="player">
                      <mat-option *ngIf="!allPlayers"><em>Loading...</em></mat-option>
                      <mat-option [value]="player.id" *ngFor="let player of allPlayers">{{player.firstName}} {{player.lastName}} </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput type="number" formControlName="value" class="form-control" placeholder="Score" name="score" id="score">
                  </mat-form-field>

                  <button *ngIf="i>0" (click)="removeScore(i)" mat-raised-button color="secondary"> Remove </button>

              </div>
              <br />
            </div>
          </div>
        </mat-form-field>
        <div class="button-row">
          <button mat-raised-button color="primary" *ngIf="numScores<4" type="button" (click)="addScore()">Add Score</button>
        </div>
      </div>
      <div mat-dialog-actions>
        <div class="button-row">
          <button mat-raised-button color="primary" [mat-dialog-close]="data">Create Golf Round</button>
        </div>
      </div>
</form>
  </mat-card>
