<div class="col-md-6">
  <h2 class="text-center">Add Golf Round</h2>
  <form [formGroup]="createGolfRoundForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="date">Date:</label>
      <input type="date" formControlName="date" placeholder="Date" name="date" class="form-control" id="date">
    </div>
    <div class="form-group">
      <label for="course">Course:</label>
      <select (change)="getCourseTees($event.target.value)" formControlName="course" placeholder="Course" name="course" class="form-control" id="course">
        <option *ngIf="!courseNames"><em>Loading...</em></option>
        <option [value]="course" *ngFor="let course of courseNames">{{course}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="tee">Tee:</label>
      <select (change)="getCourseHoles($event.target.value)"  formControlName="tee" placeholder="Tee" name="tee" class="form-control" id="tee">
        <option *ngIf="!tees"><em>Loading...</em></option>
        <option [value]="tee" *ngFor="let tee of tees">{{tee}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="holes">Holes:</label>
      <select formControlName="holes" placeholder="Holes" name="holes" class="form-control" id="holes">
        <option *ngIf="!holesNames"><em>Loading...</em></option>
        <option [value]="holes.id" *ngFor="let holes of holesNames">{{holes.holes}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="scores">Scores:</label>
      <div formArrayName="scores"
           *ngFor="let score of createGolfRoundForm.get('scores').controls; let i = index;">
        <div [formGroupName]="i">
          <div class="row">
            <div class="col-sm-2">
              <label>Player {{i+1}}:</label>
            </div>
            <div class="col-sm-4">
              <select (change)="addPlayer($event.target.value)" formControlName="player" placeholder="Player" name="player" class="form-control" id="player">
                <option *ngIf="!allPlayers"><em>Loading...</em></option>
                <option [value]="player.id" *ngFor="let player of allPlayers">{{player.firstName}} {{player.lastName}} </option>
              </select>
            </div>
            <div class="col-sm-2">
              <input type="number" formControlName="value" class="form-control" placeholder="Score">
            </div>
            <div class="col-sm-4">
              <button *ngIf="i>0" (click)="removeScore(i)" class="btn btn-danger"> Remove </button>
            </div>
          </div>
          <br />
          </div>
        </div>
      </div>
    <div class="form-group">
      <button *ngIf="numScores<4" type="button"(click)="addScore()" class="btn glyphicon-plus">Add Score</button>
      </div>
    <div class="form-group">
      <button class="btn btn-success">Create Golf Round</button>
    </div>
</form>
  </div>
